@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');



.container {
  padding: 0;
  background-color: #FAE6D6;
  color: #26163F;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Staatliches', cursive;

}

/* Header */

.header {
  padding: 0;
  margin: 0;
}

.header h1 {
  margin: 0;
  position: fixed;
  top: 16px;
  left: 16px;
  font-family: 'Staatliches', cursive;
  font-size: 63.96px;
  cursor: pointer;
}


.title {
  text-align: center;
  font-size: 45.23px;
}

.description {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}


/* Main Button on home page */
.main_button {
  font-family: 'Quicksand', sans-serif;
  background-color: #F3385F;
  color: #FAE6D6;
  padding: 15px;
  border-radius: 10px;
  border-color: #FAE6D6;
}

.main_button:active {

}

.main_button:focus {
  outline: #26163F;
}

.main_button:hover {
  background-color: #381746;
  transition: 0.3s;
  cursor: pointer;
}

.main_button:not(:hover) {
  background-color: #F3385F;
  transition: 0.3s;
  
}



/* Benefit Section */

.benefit_section {
  display: flex;
  width: 100vw;
  margin: 24px 24px 24px 24px;
  justify-content: space-around;
}



/* Feature Section */

.feature_section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  text-align: center;
  padding: 50px;
}

.feature_div {
  padding: 10px 25px 10px 25px;
}

.feature_video{

}





/* Footer CTA */
.footer_cta {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

.footer_cta button {
  width: 25%;
}





/* Start Here CSS */

.start_here_buttons {
  width: 30vw;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}


.not_sure {
  font-size: 25px;
  color: #F3385F;
  text-decoration-line: underline;
}




/* directory.js css */
.directory_section {
  width: 70vw;
  border: 2px solid #26163F;
  border-radius: 10px;
  padding: 30px;

}



.directory_div {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 100px;
  

  border: 5px solid #26163F;
  border-radius: 10px;
}

.directory_logo {

}



.directory_tag {
  background-color: #B64651;
  color:#FAE6D6;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  align-items: center;
}